<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos - AM Tech</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="page-container">

    <div th:replace="~{fragments :: navbar('home')}"></div>

    <section class="hero">
        <div class="hero-card">
            <div class="badge-soft">Microsserviço Spring Boot</div>

            <h1 class="page-title">Produtos - AM Tech</h1>

            <p class="info-text">
                Sistema para gestão de produtos, permitindo listar, cadastrar,
                detalhar, editar e excluir registros, seguindo boas práticas com Spring Boot e Thymeleaf.
            </p>

            <a th:href="@{/produtos}" class="btn btn-primary">Acessar produtos</a>
        </div>
    </section>

    <footer class="footer">
        <p>Desenvolvido por <strong>Alane Rocha</strong> e <strong>Maria Eduarda</strong></p>
    </footer>
</div>
</body>
</html>