<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="page-container">

    <div th:replace="~{fragments :: navbar('home')}"></div>

    <div class="page-center">
        <section class="card info-box">
            <div class="badge-soft">Autenticação</div>
            <h1 class="page-title">Entrar no sistema</h1>
            <p class="info-text">
                Para acessar as funcionalidades protegidas, faça login com sua conta GitHub.
            </p>

            <a th:href="@{/oauth2/authorization/github}" class="btn btn-primary">
                Entrar com GitHub
            </a>
        </section>
    </div>

    <footer class="footer">
        <p>Desenvolvido por <strong>Alane Rocha</strong> e <strong>Maria Eduarda</strong></p>
    </footer>
</div>
</body>
</html>